.tab{
  width: inherit;
}
.tab nav{
  background-color: transparent!important;
  border: none!important;
}

.tab nav div[role="tablist"]{
  padding: 10px;
}

@media (max-width: 426px) {
  .tab div[role="tablist"] > button{
    margin-right: 10px;
    padding: 16px 0;
  }
}