.cardWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 350px;
  cursor: pointer;
}

.cardWrapper:hover img{
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.cardWrapper:not(:hover) img {
  transition: transform 0.3s ease;
  transform: scale(1);
}