.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 330px;
  cursor: pointer;
}

.cardWrapper>div {
  padding: 5px 11px;
}

.cardWrapper:hover img {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.cardWrapper:not(:hover) img {
  transition: transform 0.3s ease;
  transform: scale(1);
}